<div class="container">
  <section class="left-section">
    <div class="profile-picture">
      <img src="../assets/img/profile-picture.jpg" alt="" />
    </div>
    <div class="profile-info">
      <h1 class="full-name">Antonio Bertuccio</h1>
      <h3 class="role">Full-stack Developer</h3>
      <ul class="stack">
        <li>📐 Angular</li>
        <li>☕ Java Spring Boot</li>
        <li>🐘 Postgresql</li>
      </ul>
    </div>
    <div class="bio"></div>
  </section>

  <section class="right-section">
    <h1>Sezione2</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea id accusantium
      nostrum! Numquam voluptas soluta quam aliquid illo fugit vel deserunt eum
      minus assumenda officia, ipsum error rerum placeat ad. Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Ea id accusantium nostrum! Numquam
      voluptas soluta quam aliquid illo fugit vel deserunt eum minus assumenda
      officia, ipsum error rerum placeat ad. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Ea id accusantium nostrum! Numquam voluptas
      soluta quam aliquid illo fugit vel deserunt eum minus assumenda officia,
      ipsum error rerum placeat ad. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Ea id accusantium nostrum! Numquam voluptas soluta quam
      aliquid illo fugit vel deserunt eum minus assumenda officia, ipsum error
      rerum placeat ad. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Ea id accusantium nostrum! Numquam voluptas soluta quam aliquid illo fugit
      vel deserunt eum minus assumenda officia, ipsum error rerum placeat ad.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea id accusantium
      nostrum! Numquam voluptas soluta quam aliquid illo fugit vel deserunt eum
      minus assumenda officia, ipsum error rerum placeat ad. Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Ea id accusantium nostrum! Numquam
      voluptas soluta quam aliquid illo fugit vel deserunt eum minus assumenda
      officia, ipsum error rerum placeat ad. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Ea id accusantium nostrum! Numquam voluptas
      soluta quam aliquid illo fugit vel deserunt eum minus assumenda officia,
      ipsum error rerum placeat ad. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Ea id accusantium nostrum! Numquam voluptas soluta quam
      aliquid illo fugit vel deserunt eum minus assumenda officia, ipsum error
      rerum placeat ad. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Ea id accusantium nostrum! Numquam voluptas soluta quam aliquid illo fugit
      vel deserunt eum minus assumenda officia, ipsum error rerum placeat ad.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea id accusantium
      nostrum! Numquam voluptas soluta quam aliquid illo fugit vel deserunt eum
      minus assumenda officia, ipsum error rerum placeat ad. Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Ea id accusantium nostrum! Numquam
      voluptas soluta quam aliquid illo fugit vel deserunt eum minus assumenda
      officia, ipsum error rerum placeat ad. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Ea id accusantium nostrum! Numquam voluptas
      soluta quam aliquid illo fugit vel deserunt eum minus assumenda officia,
      ipsum error rerum placeat ad. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Ea id accusantium nostrum! Numquam voluptas soluta quam
      aliquid illo fugit vel deserunt eum minus assumenda officia, ipsum error
      rerum placeat ad. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Ea id accusantium nostrum! Numquam voluptas soluta quam aliquid illo fugit
      vel deserunt eum minus assumenda officia, ipsum error rerum placeat ad.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea id accusantium
      nostrum! Numquam voluptas soluta quam aliquid illo fugit vel deserunt eum
      minus assumenda officia, ipsum error rerum placeat ad. Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Ea id accusantium nostrum! Numquam
      voluptas soluta quam aliquid illo fugit vel deserunt eum minus assumenda
      officia, ipsum error rerum placeat ad. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Ea id accusantium nostrum! Numquam voluptas
      soluta quam aliquid illo fugit vel deserunt eum minus assumenda officia,
      ipsum error rerum placeat ad. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Ea id accusantium nostrum! Numquam voluptas soluta quam
      aliquid illo fugit vel deserunt eum minus assumenda officia, ipsum error
      rerum placeat ad. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Ea id accusantium nostrum! Numquam voluptas soluta quam aliquid illo fugit
      vel deserunt eum minus assumenda officia, ipsum error rerum placeat ad.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea id accusantium
      nostrum! Numquam voluptas soluta quam aliquid illo fugit vel deserunt eum
      minus assumenda officia, ipsum error rerum placeat ad. Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Ea id accusantium nostrum! Numquam
      voluptas soluta quam aliquid illo fugit vel deserunt eum minus assumenda
      officia, ipsum error rerum placeat ad. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Ea id accusantium nostrum! Numquam voluptas
      soluta quam aliquid illo fugit vel deserunt eum minus assumenda officia,
      ipsum error rerum placeat ad. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Ea id accusantium nostrum! Numquam voluptas soluta quam
      aliquid illo fugit vel deserunt eum minus assumenda officia, ipsum error
      rerum placeat ad. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Ea id accusantium nostrum! Numquam voluptas soluta quam aliquid illo fugit
      vel deserunt eum minus assumenda officia, ipsum error rerum placeat ad.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea id accusantium
      nostrum! Numquam voluptas soluta quam aliquid illo fugit vel deserunt eum
      minus assumenda officia, ipsum error rerum placeat ad. Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Ea id accusantium nostrum! Numquam
      voluptas soluta quam aliquid illo fugit vel deserunt eum minus assumenda
      officia, ipsum error rerum placeat ad. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Ea id accusantium nostrum! Numquam voluptas
      soluta quam aliquid illo fugit vel deserunt eum minus assumenda officia,
      ipsum error rerum placeat ad. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Ea id accusantium nostrum! Numquam voluptas soluta quam
      aliquid illo fugit vel deserunt eum minus assumenda officia, ipsum error
      rerum placeat ad. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Ea id accusantium nostrum! Numquam voluptas soluta quam aliquid illo fugit
      vel deserunt eum minus assumenda officia, ipsum error rerum placeat ad.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea id accusantium
      nostrum! Numquam voluptas soluta quam aliquid illo fugit vel deserunt eum
      minus assumenda officia, ipsum error rerum placeat ad. Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Ea id accusantium nostrum! Numquam
      voluptas soluta quam aliquid illo fugit vel deserunt eum minus assumenda
      officia, ipsum error rerum placeat ad. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Ea id accusantium nostrum! Numquam voluptas
      soluta quam aliquid illo fugit vel deserunt eum minus assumenda officia,
      ipsum error rerum placeat ad. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Ea id accusantium nostrum! Numquam voluptas soluta quam
      aliquid illo fugit vel deserunt eum minus assumenda officia, ipsum error
      rerum placeat ad. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Ea id accusantium nostrum! Numquam voluptas soluta quam aliquid illo fugit
      vel deserunt eum minus assumenda officia, ipsum error rerum placeat ad.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea id accusantium
      nostrum! Numquam voluptas soluta quam aliquid illo fugit vel deserunt eum
      minus assumenda officia, ipsum error rerum placeat ad. Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Ea id accusantium nostrum! Numquam
      voluptas soluta quam aliquid illo fugit vel deserunt eum minus assumenda
      officia, ipsum error rerum placeat ad. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Ea id accusantium nostrum! Numquam voluptas
      soluta quam aliquid illo fugit vel deserunt eum minus assumenda officia,
      ipsum error rerum placeat ad. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Ea id accusantium nostrum! Numquam voluptas soluta quam
      aliquid illo fugit vel deserunt eum minus assumenda officia, ipsum error
      rerum placeat ad. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Ea id accusantium nostrum! Numquam voluptas soluta quam aliquid illo fugit
      vel deserunt eum minus assumenda officia, ipsum error rerum placeat ad.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea id accusantium
      nostrum! Numquam voluptas soluta quam aliquid illo fugit vel deserunt eum
      minus assumenda officia, ipsum error rerum placeat ad. Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Ea id accusantium nostrum! Numquam
      voluptas soluta quam aliquid illo fugit vel deserunt eum minus assumenda
      officia, ipsum error rerum placeat ad. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Ea id accusantium nostrum! Numquam voluptas
      soluta quam aliquid illo fugit vel deserunt eum minus assumenda officia,
      ipsum error rerum placeat ad.
    </p>
  </section>
</div>
