<div class="container">
  <section id="left-section">
    <div class="profile-picture">
      <img src="../assets/img/profile-picture.jpg" alt="" />
    </div>
    <div class="profile-info">
      <h1 class="full-name">Antonio Bertuccio</h1>
      <h3 class="role">Full-stack Developer</h3>
      <ul class="stack">
        <li>📐 Angular</li>
        <li>☕ Java Spring Boot</li>
        <li>🐘 Postgresql</li>
      </ul>
    </div>
    <h2 class="separator">Bio</h2>
    <div class="bio">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione soluta
      alias quam aliquam dolore quas iure adipisci laborum, provident vitae
      aspernatur perferendis minus minima laboriosam necessitatibus corporis
      molestiae saepe eum.
    </div>
  </section>

  <section id="right-section">
    <h2>Social Links</h2>
    <app-tile
      gridArea="1/1/2/3"
      icon="path/to/icon.png"
      image="path/to/image.jpg"
      title="Tile Title"
      description="Description of the tile content."
      link="https://example.com"
    ></app-tile>
  </section>
</div>
